@using GridMvc.Html

    @model Courses.Models.CourseListViewModel

    @{
        ViewBag.Title = "Home Page";
    }

    <div class="CourseList">
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {

            @Html.Grid(Model.Courses).Columns(columns =>
{
    /* Adding not mapped column, that renders body, using inline Razor html helper */
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(d =>
        @<b>
            @Html.ActionLink("Details", "Details", new { id = d.id })
        </b>);

    columns.Add(o => o.name);

    /* Adding "OrderDate" column: */
    columns.Add(o => o.start_at, "Start At")
            .Titled("Start")
            .Format("{0:yyyy/MM/dd}")
            .SetWidth(110);

    /* Adding "OrderDate" column: */
    columns.Add(o => o.end_at, "End At")
            .Titled("End")
            .Format("{0:yyyy/MM/dd}")
            .SetWidth(110);

    /* Adding "OrderDate" column: */
    columns.Add(o => o.updated_at, "Updated At")
            .Titled("Updated")
            .Format("{0:yyyy/MM/dd}")
            .SetWidth(110);



}).Sortable()



        }


    </div>